<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>

  <%- include('../partials/nav') %>
  

      <h2 class="text-center mt-4">
        <%= title %>
      </h2>

      


<% blogs.forEach(blog => { %>
 
  <%- include('../partials/trainercard', blog) %>
 

<% }) %>







</body>
</html>